body{
     
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}
.rgb-color{
    color: rgb(252,143,73);
     margin-bottom: 0;
}
h1{
    font-size: 60px;
    color: rgb(93, 109, 126);
    font-weight: bold;
}
p{
    text-align:inline;
    color: grey;
    font-weight: bold;
    margin-left: 3%;
    padding-bottom: 20px;
    
}
.link-button{
    text-decoration: none;
    background: linear-gradient(90deg, rgba(252,143,73,1) 0%, rgba(254,72,45,1) 48%);
    padding: 25px 50px;
    color: white;
    font-weight: bold;
    border-radius: 70px;
    /* box-shadow:  10px 10px 40px rgb(252,143,73); */
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 80%;
    padding-left: 5%;
}
#left-content{
    margin-top: 6%;
    margin-left: 2%;
}
.half-width img{
    width: 95%;
}